/out/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/CTestTestfile.cmake
/*.slnx
/*.vcxproj*
/*.props
/*.targets
/x64/
/Debug/
/Release/
/.vs/
/_deps/
/lib/
/generated/
/*.dir/
*.obj
*.pdb
*.ilk
*.log
*.trx
