<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name=".SurfaceProbeActivity" android:exported="false"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
        <activity android:name=".EngineTestActivity" android:exported="false"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
    </application>
</manifest>
